.side-left {
    background: url("https://sg.fiverrcdn.com/photos/119357926/original/510f66f2f5cb056bd12d473b1338bacbb5ea5b2a.jpg?1540831906");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0
}

.container {
    text-align: center;
    margin-top: 25%;
}

.texts {
    position: absolute;
    text-align: right;
    color: white;
    z-index: 999;
    top: 25%;
    right: 10%
}

p {
    margin-top: 2em;
    padding-left: 6em;
}

h1 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background: #43C6AC;
    background: -webkit-linear-gradient(175deg, #191654, #43C6AC);
    background: linear-gradient(175deg, #191654, #43C6AC);
}

h4 {
    font-weight: 400;
    margin-top: 1em
}

.others {
    margin-top: 3em;
}

@media(max-width:763px) {
    .texts {
        display: none;
    }
    .gradient {
        min-height: 3em
    }
}