.container {
    text-align: center;
    margin-top: 25%;
}

p {
    margin-top: 2em;
    padding-left: 6em;
}

h1 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-weight: 400;
    margin-top: 1em
}

.others {
    margin-top: 3em;
}

button {
    margin-top: 2em
}

input {
    margin-top: 2em;
    padding: 0.7em 1.2em 0.7em 1.2em;
    width: 60%;
    border: none;
    background: #eeeeee;
    font-family: Roboto, "Helvetica Neue"
}